<div style="width: 400px; margin: auto;">
  <h4>Schedule Assessment</h4>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Assessment Id</label>
        <select
          class="form-control"
          id="assessmentId"
          required
          [(ngModel)]="scheduleDetails.assessmentId"
          name="assessmentId">
          <option *ngFor="let assessment of assessmentList" [value]="assessment.id" >{{assessment.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Assessment Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="scheduleDetails.name"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="assessmentDate">Assessment Date</label>
        <input
                type="text"
                class="form-control"
                id="assessmentDate"
                required
                [(ngModel)]="scheduleDetails.assessmentDate"
                name="assessmentDate"
        />
      </div>

      <div class="form-group">
        <label for="accessType">Access Type</label>
        <select
                class="form-control"
                id="accessType"
                required
                [(ngModel)]="scheduleDetails.accessType"
                name="accessType">
          <option *ngFor="let accessType of accessTypes" [value]="accessType" >{{accessType}}</option>
        </select>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th colspan="3">Enter Candidate Details</th>
        </tr>
        <tr>
          <th>Action</th>
          <th>Candidate First Name</th>
          <th>Candidate Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td (click)="addRow(candidate)">
            <i class="fa fa-plus fa-2x"></i>
          </td>
          <td>
            <input [(ngModel)]="candidate.name" class="form-control" type="text" />
          </td>
          <td>
            <input [(ngModel)]="candidate.email" class="form-control" type="text" />
          </td>
        </tr>

        <tr *ngFor="let candidateObj of candidateArray; let i = index">
          <td (click)="deleteRow(i)">
            <i class="fa fa-trash fa-2x"></i>
          </td>
          <td>
            {{candidateObj.name}}
          </td>
          <td>
            {{candidateObj.email}}
          </td>
        </tr>

        </tbody>
      </table>

      <div class="form-group">
        <label for="OpenForAll">Send Test Link: </label>
        <input
                type="radio"
                id="OpenForAll"
                [(ngModel)]="scheduleDetails.sendEmail"
                name="sendEmail" value="true">
        <label for="ByInvitation">TRUE</label>
        <input
                type="radio"
                id="ByInvitation"
                [(ngModel)]="scheduleDetails.sendEmail"
                name="sendEmail" value="false">
        <label for="ByInvitation">FALSE</label>
      </div>

      <div class="form-group">
        <label for="recipientsList">Admin Notification</label>
        <input
          class="form-control"
          id="recipientsList"
          required
          [(ngModel)]="recipientsList"
          name="recipientsList"
        />
      </div>

      <button (click)="createSchedule()" class="btn btn-success">Submit</button>
    </div>

  </div>
  <div *ngIf="createdSchedule">
    <div>
      <label><strong>Assessment Id:</strong></label> {{ createdSchedule.assessmentId }}
    </div>
    <div>
      <label><strong>Assessment Name:</strong></label>
      {{ createdSchedule.name }}
    </div>
    <div>
      <label><strong>Access URL:</strong></label>
      <a href="{{ createdSchedule.accessUrl }}">{{ createdSchedule.accessUrl }}</a>
    </div>
  </div>
</div>
