<div style="width: 400px; margin: auto;">
    <h4>Candidate Test Status</h4>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="accessKey">Schedule Id</label>
                <select
                        class="form-control"
                        id="accessKey"
                        required
                        [(ngModel)]="accessKey"
                        name="accessKey">
                    <option *ngFor="let schedule of scheduleList" [value]="schedule.accessKey" >{{schedule.id}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">Candidate Email</label>
                <input
                        type="text"
                        class="form-control"
                        id="title"
                        required
                        [(ngModel)]="email"
                        name="email"/>
            </div>

            <button (click)="getTestStatus()" class="btn btn-success">Submit</button>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="8">Candidates Test Result</th>
            </tr>
            <tr>
                <th></th>
                <th colspan="7">Test Result</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>Test Status</th>
                <th>Total Marks</th>
                <th>Max Marks</th>
                <th>Percentile</th>
                <th>Total Questions</th>
                <th>Total Answered</th>
                <th>Total Not Answered</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidateResponse of testStatusResponseList; let i = index">
                <td>
                    {{candidateResponse.email}}
                </td>
                <td>
                    {{candidateResponse.testStatus.status}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.totalMarks}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.maxMarks}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.percentile}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.totalQuestion}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.totalCorrectAnswers}}
                </td>
                <td>
                    {{candidateResponse.testStatus.result.totalUnAnswered}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
